<!DOCTYPE html>
<html lang="ja">
  <body>
    <section class="top">
      <div class="top-container">
        <div class="top-summary">
          <h2>BILLISEARCH</h2>
          <p>近くのビリヤード場の場所を知りたい時、是非billisearchをご利用ください。</p>
          <p>場所は分かるし行ってみたいけど、初めて行く店だから少し不安...という方のためにも、口コミや店内施設の写真なども共有することができます。</p>
          <%= search_form_for @q, url: billisearch_halls_path do |f| %>
            <%= f.search_field :name_or_address_cont, placeholder: "検索" %>
          <% end %>
        </div>
        <!-- /.top-summary -->
      </div>
      <!-- /.top-container -->
    </section>
    <!-- /.top -->
  </div>
  <!-- /.hall-container -->
</section>
<!-- /.hall -->
<script src="./js/script.js"></script>
</body>
</html>
