<div class="mypage">
  <div class="mypage-container">
    <h2>マイページ</h2>
    <div class="mypage-img">
      <% if current_user.image? %>
      <img src=<%= current_user.image %>>
      <% else %>
      <img src="/assets/profile-image.png" %>
      <% end %>
    </div><!-- /.mypage-img -->
    <table>
      <tr>
        <td>ユーザー名</td>
        <td><%= current_user.name %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= current_user.email %></td>
      </tr>
    </table>

  </div><!-- /.mypage-container -->
</div><!-- /.mypage -->
