<header class="header">
  <div class="header-left"><img src="/assets/logo.png" alt=""></div><!-- /.header-logo -->
  <div class="header-right">
    <ul class="header-list">
      <li class="header-item"><%= link_to "トップページ", billisearch_home_path %></li><!-- /.header-item -->
      <li class="header-item"><%= link_to "ビリヤード場一覧", billisearch_halls_path %></li><!-- /.header-item -->
      <li class="header-item"><%= link_to "ビリヤード場登録", new_billisearch_hall_path %></li><!-- /.header-item -->
      <li class="header-item"><a href="">ログイン</a></li><!-- /.header-item -->
      <li class="header-item"><a href="">新規登録</a></li><!-- /.header-item -->
    </ul><!-- /.header-list -->
  </div><!-- /.header-right -->
</header><!-- /.header -->
