<!DOCTYPE html>
<html lang="ja">

  <body>
    <section class="halls">
      <h3>ビリヤード場一覧</h3>
      <table>
        <thead>
          <tr>
            <th>店舗名</th>
            <th>住所</th>
            <th>料金</th>
            <th>削除</th>
          </tr>
        </thead>
        <tbody>
          <% @halls.each do |h| %>
          <tr>
            <td><%= link_to "#{h.name}", billisearch_hall_path(h)  %></td>
            <td><%= h.address %></td>
            <td><%= h.price %></td>
            <td>
              <%= button_to "削除", billisearch_hall_path(h), method: :delete %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </section><!-- /.halls -->

    <script src="./js/script.js"></script>
  </body>

</html>
