@charset "UTF-8";

/*================================
カラー変数
=================================*/
$main-color: #125B50;
$sub-color: #D6224A;
$border-color: #DFDFDE;

/*================================
フォント関係
=================================*/
@mixin section-title {
  font-size: 28px;
  text-align: center;
  margin: 50px 0;
}

/*================================
ヘッダー固定でずれた高さ(ヘッダーのheightの値)
=================================*/
$header-height: 70px;

/*================================
テーブルの共通変数
=================================*/
@mixin table() {
  table {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    border-collapse: collapse;
    table-layout: fixed
  }

  thead {
    background-color: $main-color;
    color: #fff;
    font-size: 16px;
    border: 1px solid $border-color;
  }

  td {
    border: 1px solid $border-color;
    padding: 0 10px;
  }

  .name {
    width: 200px;
  }

  .address {
    width: 200px;
  }

  .delete {
    width: 30px;
  }

  tr {
    height: 30px;
    line-height: 30px;
  }
}

@mixin table-wrap {
  table {
    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}



/*================================
共通のCSS
=================================*/

body {
  width: 100%;
  position: relative;
}

li {
  list-style: none
}

a {
  color: #000;
  text-decoration: none;
}

a,
input {
  transition: 0.4s;
}

a:hover {
  opacity: 0.7;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;

  &-list {
    display: flex;
    align-items: center;
  }

  &-item {
    margin-left: 20px;

    a {
      text-decoration: none;
    }
  }

  &-login,
  &-add-account {
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;

    a {
      display: inline-block;
      color: #fff;
      width: 110px;
    }
  }

  &-login {
    background-color: $main-color;
  }

  &-add-account {
    background-color: $sub-color;
  }

  &-user-icon {
    width: 50px;
    height: 50px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50px;

    }
  }

  &-drop-list {
    background-color: #DA1212;
    position: absolute;
    right: 0;
    top: 70px;
    text-align: center;
  }

  &-drop-item {
    line-height: normal;

    a {
      padding: 10px 30px;
      display: inline-block;
    }
  }
}

/*================================
トップページ
=================================*/
.top {
  padding-top: $header-height;
  background: url('top-bg.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: #fff;

  &-container {
    margin: 0 50px;
    padding-top: 200px;
  }

  h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  p {
    max-width: 500px;
    line-height: 1.7;
    padding-bottom: 10px;
  }

  button {
    margin-top: 20px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
  }
}

.hall {
  padding: 150px 0px;
  background-color: cornsilk;

  h3 {
    @include section-title;
  }

  &-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &-map {
    margin-left: 60px;

    img {
      height: 400px;
    }
  }

  &-left {
    width: 40%;
  }

  &-add {
    background-color: azure;
    width: 300px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }

  &-list {
    margin-top: 20px;
  }

  &-item {
    margin-bottom: 10px;
  }
}

footer {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

/*================================
ビリヤード場一覧
=================================*/
.halls {
  padding-top: $header-height;
  font-size: 14px;

  .favorite-check {
    color: #DA1212;
    margin-right: 10px;
  }

  .favorite-no-check {
    color: gray;
    margin-right: 10px;
  }

  &-img {
    height: 300px;
    width: 600px;
    margin: 0 auto;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  h3 {
    @include section-title;
  }

  @include table;
  @include table-wrap;

  span {
    display: inline-block;
  }
}

/*================================
ビリヤード場詳細
=================================*/
.hall-show {
  padding-top: $header-height;
  font-size: 14px;

  &-img {
    height: 300px;
    width: 600px;
    margin: 0 auto;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  h3 {
    @include section-title;
  }

  @include table;

  th {
    border: 1px solid $border-color;
    width: 300px;
  }

  td {
    word-wrap: break-word;
  }

  span {
    display: inline-block;
  }
}

/*================================
ビリヤード場登録
=================================*/
.new-hall {
  padding-top: $header-height;
}

/*================================
ログイン画面&新規登録画面
=================================*/
.user {
  padding-top: $header-height + 180px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 200px;

  .new_user {
    margin-bottom: 20px;
  }

  &-logo {
    text-align: center;
  }

  h4 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .field {
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    border: 1px solid $border-color;
    border-radius: 5px;
    height: 33px;
    padding: 4px;
    font-size: 14px;
  }

  #user_remember_me {
    height: 20px;
    text-align: left;
  }

  .user-account-text {
    text-align: center;
    margin-bottom: 50px;
  }

  .check-field {
    display: flex;

    input {
      width: 30px;
    }
  }

  .actions {
    margin-top: 20px;

    input {
      background-color: $main-color;
      height: 55px;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
    }
  }
}

/*================================
マイページ
=================================*/
.mypage {
  padding-top: $header-height + 100px;

  h3 {
    @include section-title;
  }

  &-img {
    height: 200px;
    width: 200px;
    margin: 0 auto;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }

  &-container {
    width: 600px;
    margin: 0 auto;
  }

  &-profile {
    @include table;
  }

  &-favorite {
    @include table;
    @include table-wrap;

    &-name {

    }
  }

  .favorite-check {
    color: $sub-color;
    padding-right: 10px;
  }
}

/*================================
ユーザー編集
=================================*/
.user-edit {
  padding-top: $header-height + 100px;
  padding-bottom: 100px;

  &-img {
    height: 200px;
    width: 200px;
    margin: 0 auto 40px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }

  &-list {
    padding: 18px 0;
  }

  .container {
    width: 600px;
    margin: 0 auto;

    h4 {
      @include section-title;
    }

    label {
      display: inline-block;
      margin-bottom: 6px;
    }

    input {
      border: solid 1px $border-color;
      width: 100%;
      padding: 5px;
      border-radius: 5px;
    }

    .btn-primary {
      background-color: $main-color;
      color: #fff;
      font-weight: bold;
      padding: 15px 0;
      border-radius: 10px;

      &:hover {
        opacity: 0.7;
      }
    }

    .link-below-user-form {
      display: block;
      background-color: $sub-color;
      color: #fff;
      font-weight: bold;
      padding: 15px 0;
      text-align: center;
      margin-top: 20px;
      border-radius: 10px;
    }
  }
}
